[submodule "team-fe"]
	path = team-fe
	url = git@github.com:songjihoon116/dev-team7.git
[submodule "dev-team7"]
	path = dev-team7
	url = git@github.com:aiegoo/dev-team7
[submodule "AIBE5Project1"]
	path = AIBE5Project1
	url = git@github.com:0cha-0cha/AIBE5Project1.git
[submodule "AIBE5_Project1"]
	path = AIBE5_Project1
	url = git@github.com:ryu-han-kr/AIBE5_Project1.git
[submodule "typesense-impl"]
	path = typesense-impl
	url = git@github.com:aiegoo/dev-team7.git
	branch = feat/typesense-search
