body {
    background-color: #f7faff;
    font-family: 'Pretendard', sans-serif;
    margin: 0;
}
.content {
    margin-left: 220px;
    padding: 40px 20px;
    background-color: #f7faff;
    min-height: 100vh;
}